<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All applied jobs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>

<body>

    <!--Navbar imported--->
    <%- include ('partials/nav2') %>

    <!---edit profile body-->
    <div class="container-fluid">

        <div class="row">
            <!---->
            <!---->
            <!--for side nav bar-->
            <div class="col-lg-1 col-xl-3 bd-sidebar" id="Section1" style="background: black;">
                <button type="button" class="btn btn-dark btn-block "><a href="/developer"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Profile</a></button>
                <button type="button" class="btn btn-dark btn-block "><a href="/developerProfile"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Edit your Profile</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/developer/allAppliedJobs"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Applied Jobs</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/developerPortfolio"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Portfolio</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/developer/followings"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Following Companies</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/updatePassword"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Update Password</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/logout"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Log Out</a></button>


            </div>
            <!---->
            <!---->
            <!---->


            <!---->
            <!---->
            <!--for edit profile form--->
            <div class="col-md-8" id="Section2">


                <div>

                    <button type="button" class="btn btn-outline-dark"><a class="nav-link"
                            href="/developer/allStats/<%= 'Accepted' %>">Accepted Applications</a></button>

                    <button type="button" class="btn btn-outline-dark"><a class="nav-link"
                            href="/developer/allStats/<%= 'Rejected' %>">Rejected Applications</a></button>

                    <button type="button" class="btn btn-outline-dark"><a class="nav-link"
                            href="/developer/allAppliedJobs">All Applied Jobs</a></button>


                    <br>
                    <h2 class="page-title" style="font-family: Georgia, 'Times New Roman', Times, serif;"><%= title %>
                    </h2>
                    <br><br>
                    <%- include ('partials/messages') %>
                    <!--------------------->
                    <!--------------------->
                    <!--------------------->

                    <% if(title==='Accepted Applications'){%>
                    <% if(jobs.length>0) {%>

                    <% jobs.forEach(function(job){ %>
                    <div class="container shadow p-3 mb-5 bg-white rounded" style="border:2px ;border-radius:10px;">
                        <div class="row">
                            <div class="col-lg-4  col-md-4 col-4 ">
                                <img src="/image/<%= job.postedBy.companyIcon %> " width="100px" height="100px"></img>
                            </div>
                            <div class="col-lg-4  col-md-4 col-4 " style="font-style:italic">
                                <h1 style="font-size:1.5em; padding-bottom:5px"><%= job.jobTitle %></h1>
                                <p>Job Type : <%= job.jobType %> </p>
                                <p>Experience Required : <%= job.min_exp %> </p>
                                <p>Salary : <%= job.min_salary %> - <%= job.max_salary %></p>
                                <p>Skills Required : <%= job.jobSkills %></p>
                                <p>Minimum Qualification Required : <%= job.jobQualification %></p>
                                <p>Location: <%= job.jobLocation %>, <%= job.jobCity %>, <%= job.jobState %>,
                                    <%= job.jobCountry %></p>
                            </div>

                            <div class="col-lg-4  col-md-4 col-4" style="font-style:italic">
                                <h1 style="font-size:1.5em; padding-bottom:5px">Job Description</h1>
                                <p><%= job.jobDescription %></p>
                                </br>
                                <h5 style="font-size:1.5em; padding-bottom:5px">Company Name:</h5>
                                <p><%= job.postedBy.companyName %></p>

                            </div>
                        </div>
                    </div>
                    </br>

                    <% }); %>
                    <% }else{ %>
                    <h5 style="font-family: Georgia, 'Times New Roman', Times, serif;align-content: center;">No applications have been accepted yet</h5>
                    <% } %>

                    <%}%>

<!--------------------->
<!--------------------->
<!--------------------->
                    <% if(title==='Rejected Applications'){%>
                    <% if(jobs.length>0) {%>

                    <% jobs.forEach(function(job){ %>
                    <div class="container shadow p-3 mb-5 bg-white rounded" style="border:2px ;border-radius:10px;">
                        <div class="row">
                            <div class="col-lg-4  col-md-4 col-4 ">
                                <img src="/image/<%= job.postedBy.companyIcon%> " width="100px" height="100px"></img>
                            </div>
                            <div class="col-lg-4  col-md-4 col-4 " style="font-style:italic">
                                <h1 style="font-size:1.5em; padding-bottom:5px"><%= job.jobTitle %></h1>
                                <p>Job Type : <%= job.jobType %> </p>
                                <p>Experience Required : <%= job.min_exp %> </p>
                                <p>Salary : <%= job.min_salary %> - <%= job.max_salary %></p>
                                <p>Skills Required : <%= job.jobSkills %></p>
                                <p>Minimum Qualification Required : <%= job.jobQualification %></p>
                                <p>Location: <%= job.jobLocation %>, <%= job.jobCity %>, <%= job.jobState %>,
                                    <%= job.jobCountry %></p>
                            </div>

                            <div class="col-lg-4  col-md-4 col-4" style="font-style:italic">
                                <h1 style="font-size:1.5em; padding-bottom:5px">Job Description</h1>
                                <p><%= job.jobDescription %></p>
                                </br>
                                <h5 style="font-size:1.5em; padding-bottom:5px">Company Name:</h5>
                                <p><%= job.postedBy.companyName %></p>

                            </div>
                        </div>
                    </div>
                    </br>

                    <% }); %>
                    <% }else{ %>
                    <h5 style="font-family: Georgia, 'Times New Roman', Times, serif;align-content: center;">No applications have been rejected yet</h5>
                    <% } %>

                    <%}%>
    
    
<!--------------------->
                </div>
            </div>
        </div>
    </div>
    <%- include ('partials/footer') %>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>



</html>